name: Node.js CI

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/*.md'

jobs:
  build:
    runs-on: windows-latest
 
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup Node.js
      uses: actions/setup-node@v5
      with:
        node-version: 24.x
        cache: npm

    - name: Install dependencies
      run: npm install

    - name: Run ESLint
      run: npx eslint .
      continue-on-error: true

    - name: Build with npx
      run: |
        npx tsc -p ./
