name: VS Code Extension CI

on:
  push:
    branches: [ main ]

jobs:
  package:
    runs-on: ubuntu-latest
 
    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Install dependencies
      run: |
        npm install
        npm install @vscode/vsce

    - name: Package
      run: npx @vscode/vsce package

    - name: Upload artifact
      uses: actions/upload-artifact@v5
      with:
        name: avz-vsce
        path: '*.vsix'
